<html>
    <head>
        <title>VueJS Playground. Simple web page improved!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

        <div id="app">
            <div class="container mt-5 mb-5">
                
                <the-header></the-header>

                <div class="row">
                    <div class="col">
                        <list-group-component></list-group-component>
                    </div>

                    <div class="col-sm-6">
                        <the-card></the-card>
                    </div>
                </div>
                <!--<the-footer></the-footer>            -->
            </div>
        </div>


        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            Vue.component('the-card', {
                template: `
                    <div class="card">
                        <div class="card-body" v-for="customCard in customCards">
                            <h5 class="card-title">{{customCard.heading}}</h5>
                            <p class="card-text">
                                    {{customCard.text}}
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>`,
                data: function() {
                    return {
                        customCards: [{
                            heading: 'John Doe',
                            text: 'john.doe@acme.org'
                        },
                        {
                            heading: 'Anna Frank',
                            text: 'anna.frank@berlin.gm'
                        }]
                    }
                },
                beforeCreate() {
                    console.log('Creando la card...');
                },
                created() {
                    console.log('Ya está creada la card...');
                }
            });

            Vue.component('the-header', {
                template: '<h1 class="text-center mt-5 mb-4">{{ title }}</h1>',
                data: function() {
                    return {
                        title: 'Just another title',
                    }
                }
            });

            Vue.component('list-group-component', {
                template: `<ul class='list-group'>
                            <li class='list-group-item' v-for='item in items'> 
                                {{item.description}}
                            </li>
                            </ul>`,
                data: function() {
                    return {items: [
                        {description: 'Description one'},
                        {description: 'Description two'},
                        {description: 'Description three'}
                        ]}
                    }
            });

            var app = new Vue({
                el: '#app',
                data: function() {
                        return {};
                    }
            });
        </script>
    </body>
</html>